/* https://codepen.io/anon/pen/xjJeeb */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	/* display: block; */
	/* vertical-align: bottom; */
}

.my-float{
	margin-top:22px;
}

/* https://stackoverflow.com/a/14862671/7354486 */
a:link.Kachel{
   /* width: 200px; */
   line-height: 60px;
   display: block;
   text-align: center;
   /* background: #383838; */
}
